# --- LiveKit Core & Agents ---
livekit>=0.17.0
livekit-agents>=0.12.0

# --- LiveKit Plugins (AI Models) ---
# livekit-plugins-openai         # LLM (GPT-4o) & STT (Whisper) -> Replaced by Gemini
google-genai
livekit-plugins-elevenlabs     # TTS (Voice)
livekit-plugins-silero         # VAD (Voice Activity Detection)

# --- Client App (GUI) ---
PyQt6>=6.7.0

# --- Vision & Sensing ---
opencv-python                  # Webcam capture
mediapipe                      
numpy                          


pywin32; sys_platform == 'win32'
python-dotenv                  
colorlog                       # Pretty log formatting
keyboard                       # global binding
sounddevice                    # sound play